[Unit]
Description=Multimod Web Server
After=network.target

[Service]
WorkingDirectory=/opt/multimod/server
ExecStart=/usr/bin/node /opt/multimod/server/src/index.js
Environment=PORT=4000
Environment=DATA_DIR=./data
Environment=ADMIN_USERNAME=admin
EnvironmentFile=/opt/multimod/server/.env
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
